.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  max-height: 10%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header_pic{
  object-fit: cover;
  width: 100%;
  height:200px;
  position: relative;
  overflow-wrap: normal;
}

.topnav{
  background-color: #f8f7f7;
  text-align: left;
  font-size: large;
  padding: 1.5%;
  font-weight: 100;
  text-decoration: none;
}

.topnav a:active{
  color:aqua;
}

.topnav a:inactive{
  color: #282c34;
}

.topnav a:hover{
  color: #f8f7f7;
  background-color: #282c34;
}

.footer{
  background-color: #f8f7f7;
  color: #000000;
  text-align: center;
  padding: 1.5%;
  font-size: large;
  font-weight: 100;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
