.goatpics{
    height: 45%;
    width: 45%;
}

.goatcard{
    border-style: double;
    border-width: 10px;
    border-color: darkolivegreen;
    border-radius: 25px;
}

.herd{
    height: 75%;
    width: 100%;
}