.goatpics{
    height: 45%;
    width: 45%;
}

.goatcard{
    border-style: double;
    border-width: 10px;
    border-color: darkolivegreen;
    border-radius: 25px;
}

.herd{
    height: 75%;
    width: 100%;
}

.babypics{
    height: 400px;
    width: 100%;
    padding-bottom: 10%;
}

.bbpic{
    height: 75%;
    width: 75%;
}

.couple{
    height:10%;
    width: 10%;
}